<html lang="en">

<head>
  <title>WatchThis!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Limelight&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/44d4613afb.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<!--HEADER & LOGOUT BUTTON-->
<nav class="navbar justify-content-center" id="main-nav">
    <div class="mx-auto order-0">
        <nav class="navbar-brand mx-auto mb-0 h1">WatchThis!</nav>
    </div>
    <div class="navbar-nav-scroll justify-content-end">
        <ul class="nav navbar-nav">
            <li class="nav-item ml-auto">
                <a class="nav-link p-1" id="logout" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!--ADD SHOW/MOVIE FORM -->
<main class="container">
	<div class="columns mt-4">
		<div class="column">
			<div class="card">
				<!--Toggles 'enter a new movie or show' form on click-->
				<button id="toggleFormButton" class="btn btn-warning">Enter a New Movie or Show</button>
				<!--Add new movie form-->
				<div id="addItemForm" class="card-content has-text-centered">
					<h2>Add New Movie or Show:</h2>
					<form class="new-movie">
						<!--Movie Title-->
						<div class="form-group mx-auto">
                            <input type="text" class="form-control" id="title" placeholder="Title"/>
                        </div>
						<!--Choose a Genre-->
						<div class="form-group mx-auto">
							<select class="form-control" id="genre">
                                <option value="">-- Select a Genre --</option>
                                <option value="Action/Adventure">Action/Adventure</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Documentary">Documentary</option>
                                <option value="Drama">Drama</option>
                                <option value="Family">Family</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Horror">Horror</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Sci-Fi">Sci-Fi</option>
							</select>
                        </div>
						<!--Choose Streaming Service-->
                        <div class="form-group mx-auto">
							<select class="form-control" id="service">
                                <option value="">-- Select a Streaming Service --</option>
                                <option value="Netflix">Netflix</option>
                                <option value="Hulu">Hulu</option>
                                <option value="HBO-Max">HBO Max</option>
                                <option value="Amazon-Prime">Amazon Prime</option>
                                <option value="Disney+">Disney+</option>
                                <option value="Starz">Starz</option>
                                <option value="Apple-TV">Apple TV</option>
                                <option value="CBS-All-Access">CBS All Access</option>
                                <option value="YouTube-TV">YouTube TV</option>
                                <option value="Other">Other</option>
							</select>
						</div>
						<!--Submit Button-->
						<button type="submit" class="btn btn-warning btn-block" id="addItem formBtns">Add to Watch List</button>
					</form>
				</div>
			</div>
		</div>
	</div>

  	<h1 id="list-title">My Watch List</h1>
  		<p>
        	<!--Filter Items by Genre-->
			<select class="form-control mx-auto" id="genreFilter">
				<option value="">-- Filter List by Genre --</option>
				<option value="Action/Adventure">Action/Adventure</option>
				<option value="Comedy">Comedy</option>
				<option value="Documentary">Documentary</option>
				<option value="Drama">Drama</option>
				<option value="Family">Family</option>
				<option value="Fantasy">Fantasy</option>
				<option value="Horror">Horror</option>
				<option value="Mystery">Mystery</option>
				<option value="Sci-Fi">Sci-Fi</option>
      		</select>
			<!--Filter Items by Streaming Service-->
      		<select class="form-control mx-auto" id="serviceFilter">
				<option value="">-- Filter List by Streaming Service --</option>
				<option value="Netflix">Netflix</option>
				<option value="Hulu">Hulu</option>
				<option value="HBO-Max">HBO Max</option>
				<option value="Amazon-Prime">Amazon Prime</option>
				<option value="Disney+">Disney+</option>
				<option value="Starz">Starz</option>
				<option value="Apple-TV">Apple TV</option>
				<option value="CBS-All-Access">CBS All Access</option>
				<option value="YouTube-TV">YouTube TV</option>
				<option value="Other">Other</option>
     		</select>
		</p>

<!--Beginning of Movie Cards-->
	<div class="column" id="watch-list">
	{{#each movieList}}
		<div class="card mb-3" style="max-width: 540px; max-height: 300px">
			<div class="row no-gutters">
				<div class="col-md-4">
				<img src={{ this.image }} class="card-img" alt="poster" style="max-width: 100%" style="height: auto;">
				</div>
				<div class="col-md-8" id="movieCard">
					<div class="card-body">
						<h5 class="card-title">{{ this.title }}</h5>
						<p class="card-text">Genre: {{ this.genre }}</p>
						<p class="card-text">Streaming Service: {{ this.service }}</p>
						<p class="card-text">{{this.ratingType}} : {{ this.rating }}</p>
						<label for="toggle">
							<input class="watched-toggle" type="checkbox" id="watchedBtn" data-toggle="toggle" data-on="YES" data-off="NO" {{#if watched}} checked {{/if}} 
							data-onstyle="success" data-offstyle="secondary" data-id={{this.id}}>
							Watched
						</label>
						<button class="btn btn-warning float-right delete-btn" id="deleteBtn" data-id={{this.id}}>Delete</button>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>


	{{/each}}
	</div>
 <!--Footer-->
	<footer class="text-center fixed-bottom bg-dark">
		<div class="card-footer">
			<small class="text-white mx-auto">&copy; Copyright 2020 • WatchThis!</small>
		</div>
	</footer>
</main>

<!--JQuery & JavaScript file links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>