<html lang="en">

<head>
  <title>WatchThis!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Limelight&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/44d4613afb.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  
	<div class="container">
		<div class="clearfix header">
			<h1>WatchThis!</h1>
			<!-- toggles 'enter a new movie or show' form on click -->
			<button id="toggleFormButton" class="btn btn-primary">Enter a New Movie or Show</button>
		</div>

		<!-- add new movie form -->
		<div id="addItemForm">
			<h2>Add New Movie or Show:</h2>
			<div class="card">
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="name">Title:</label>
							<input type="text" class="form-control" id="title" placeholder="Title">
						</div>
						<div class="form-group">
							<label for="genre">Genre:</label>
							<select class="form-control" id="genre">
                                <option value="">-- Choose Genre --</option>
                                <option value="Action/Adventure">Action/Adventure</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Documentary">Documentary</option>
                                <option value="Drama">Drama</option>
                                <option value="Family">Family</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Horror">Horror</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Sci-Fi">Sci-Fi</option>
							</select>
                        </div>
                        <div class="form-group">
							<label for="service">Streaming Service:</label>
							<select class="form-control" id="service">
                                <option value="">-- Choose Streaming Service --</option>
                                <option value="Netflix">Netflix</option>
                                <option value="Hulu">Hulu</option>
                                <option value="HBO-Max">HBO Max</option>
                                <option value="Amazon-Prime">Amazon Prime</option>
                                <option value="Disney+">Disney+</option>
                                <option value="Starz">Starz</option>
                                <option value="Apple-TV">Apple TV</option>
                                <option value="CBS-All-Access">CBS All Access</option>
                                <option value="YouTube-TV">YouTube TV</option>
                                <option value="Other">Other</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary btn-block" id="addItem">Add to Watch List</button>
						<a href="#" id="hideForm">Hide Form</a>
					</form>
				</div>
			</div>
		</div>

  <h1>My Watch List</h1>
  <!--<h2>View Movies & Shows:</h2>-->
		<p>
            <!-- filter items by genre -->
			<select class="form-control" id="genreFilter">
				<option value="">-- Filter List by Genre --</option>
				<option value="Action/Adventure">Action/Adventure</option>
				<option value="Comedy">Comedy</option>
				<option value="Documentary">Documentary</option>
				<option value="Drama">Drama</option>
				<option value="Family">Family</option>
				<option value="Fantasy">Fantasy</option>
				<option value="Horror">Horror</option>
				<option value="Mystery">Mystery</option>
				<option value="Sci-Fi">Sci-Fi</option>
      		</select>
      		<select class="form-control" id="serviceFilter">
				<option value="">-- Filter List by Streaming Service --</option>
				<option value="Netflix">Netflix</option>
				<option value="Hulu">Hulu</option>
				<option value="HBO-Max">HBO Max</option>
				<option value="Amazon-Prime">Amazon Prime</option>
				<option value="Disney+">Disney+</option>
				<option value="Starz">Starz</option>
				<option value="Apple-TV">Apple TV</option>
				<option value="CBS-All-Access">CBS All Access</option>
				<option value="YouTube-TV">YouTube TV</option>
				<option value="Other">Other</option>
     		</select>
		</p>

	</div>
	<div id="watch-list">
  {{#each movieList}}
	  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{ this.image }} class="card-img" alt="poster" style="max-width: 100%" style="height: auto;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text">Genre: {{ this.genre }}</p>
            <p class="card-text">Streaming Service: {{ this.service }}</p>
						<p class="card-text">{{this.ratingType}} : {{ this.rating }}</p>


						{{!-- <label for="toggle">
						<input class="btn watched-toggle" type="checkbox" id="watched-toggle" data-toggle="toggle" data-on="YES" data-off="NO" {{#if watched}} checked {{/if}}
							data-onstyle="primary" data-offstyle="warning" data-id={{this.id}}>
							Watched
						</label> --}}
						<button class="btn watched-btn {{#if watched}} btn-success {{else}} btn-warning {{/if}}"
							data-id={{this.id}} data-watched={{this.watched}}>
							{{#if watched}} Watched {{else}} Not Watched{{/if}}
							</button>

						
            <button class="btn btn-primary float-right delete-btn" id="deleteBtn" data-id={{this.id}}>Delete</button>


            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
	{{/each}}
	</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
